@mixin mains {
    height:100vh;
   
    display: flex;
    align-items: center;
    padding: 0px;
  
    
  }
  @mixin backgrounds {
    
    height: 100Vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  } 
    