
.Human-main{
    @include mains();
    height: 85vh;
    .mid{
      margin-bottom: 50px;
      display: grid;
      justify-content: center;
      P{
         
          display: flex;
          justify-content: center;
          
      }
      
       h1 {
         display: flex;
       justify-content: center;
       font-size: 120px;
    }
   
    }
    .Human-bg {
        @include backgrounds();
        background-image: url(../humanFlight/01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .Human-main01{
      @include mains();
      height: 85vh;
      .mid{
        margin-bottom: 50px;
        display: grid;
        justify-content: center;
        P{
           
            display: flex;
            justify-content: center;
            
        }
        
         h1 {
           display: flex;
         justify-content: center;
         font-size: 120px;
      }
     
      }
      .Human-bg01 {
          @include backgrounds();
          background-image: url(../humanFlight/01.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
      }
    
    
     
  @media (max-width:733px){
         
    
      .Human-main{
       display: grid;
       justify-content: center;
       P{
          font-size: 15px;
           display: flex;
           justify-content: center;
           
       }
       
        h1 {
          display: flex;
        justify-content: center;
        font-size: 50px;
  
    
      }
       
      }
      .Human-main{
       display: grid;
       justify-content: center;
       P{
          font-size: 15px;
           display: flex;
           justify-content: center;
           
       }
       
        h1 {
          display: flex;
        justify-content: center;
        font-size: 50px;
  
    
      }
       
      }
  }}}